<div class ="form-group" style="float:left;">
   <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Short Name </th>
            <th>Description </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tr ng-repeat="items in searchDirCtrl.found">
          <td> {{items.name}} </td>
          <td> {{items.short_name}} </td>
         <td> {{items.description}} </td>
        <td><button class="btn btn-primary" ng-click="searchDirCtrl.onRemove({index: $index});">I don't want this !</button></td>
      </tr>
  </table>
</div>
